#myChart, #myChartSelect, #myChartInsert {
    max-width:1000px;
    max-height:1000px;
    ;
}

.btn {
    cursor: pointer;
    text-decoration: none;
    display: block;
    width: 140px;
    height: 45px;
    line-height: 45px;
    border-radius: 45px;
    margin: 20px auto;
    font-family: 'Montserrat', sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 3px;
    font-weight: 600;
    color: #524f4e;
    background: rgb(216, 216, 216);
    box-shadow: 0 8px 15px rgba(0, 0, 0, .1);
    transition: .3s;
}
.btn:hover, .btn:active {
    background: #2EE59D;
    box-shadow: 0 15px 20px rgba(46, 229, 157, .4);
    color: white;
    transform: translateY(-7px);
}

.wrapper {

}

.wrapper .container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.description {
    padding: 20px;
    list-style: none;
    counter-reset: li;
    margin: 5px;
    box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    min-width: 500px;
    max-width: 550px;
}

.description .title {
    position: relative;
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 30px;
}

.description .level {
    position: relative;
    text-align: center;
    font-size: 1.4rem;
    margin-top: 30px;
}
.description .level::after {
    content: "";
    position: absolute;
    height: 22px;
    width: 5px;
    background:rgb(81, 227, 213);
    top: 9%;
    left: 18%
}
.description .title::before {
    content: "";
    position: absolute;
    background: rgb(81, 227, 213);
    height: 2px;
    width: 50px;
    top: 160%;
    margin: 0 auto;
    left: 0;
    right: 0
}
.description .title::after {
    content: "";
    position: absolute;
    background: rgb(81, 227, 213);
    height: 2px;
    width: 180px;
    top: 135%;
    margin: 0 auto;
    left: 0;
    right: 0;
}


.descr__element {
    position: relative;
    border-left: 4px solid #337AB7;
    padding:16px 20px 16px 28px;
    margin:12px 0 12px 10px;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}
